*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
$primary-color: #fc6744;
span {
  color: $primary-color;
}
@mixin chapter {
  font-size: 50px;
  font-weight: bold;
  padding-top: 130px;
  text-align: center;
}
p.section-chapter {
  @include chapter;
}
header {
  background-color: #f5f5f5;
  .container {
    nav {
      padding-top: 80px;
      a {
        text-decoration: none;
        font-size: 38px;
        color: black;
        border: 2px solid black;
        padding: 0px 15px;
      }
      a.burger {
        border: none;
      }
    }
    p.header-text {
      @include chapter;
    }
    p {
      text-align: center;
    }
    .form {
      text-align: center;
      box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
      padding: 20px 30px;
      background-color: white;
      margin-top: 80px;
      font-size: 20px;
      input,
      textarea {
        border: none;
        border-bottom: 1px solid grey;
        background-color: white;
        padding: 5px;
        margin-bottom: 15px;
      }
      button {
        margin: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fc6744;
        border: none;
        border-radius: 20px;
        width: 80%;
        text-align: center;
        font-size: 16px;
        color: white;
        img {
          margin-left: 5px;
        }
      }
    }
  }
}
.sect-1 {
  .container {
    margin-bottom: 150px;
    p {
      text-align: center;
    }
    p.section-chapter {
      @include chapter;
    }
    .blocks {
      margin-bottom: 170px;
      .card {
        .card-title {
          text-align: center;
        }
        .card-img-top {
          margin: auto;
          margin-top: 50px;
          height: 50px;
          width: 50px;
        }

        a.btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          margin-bottom: -35px;
          background: white;
          color: black;
          border-radius: 20px;
          width: 80%;
          border: none;
          box-shadow: 5px 2px 7px #f2f2f2;

          img {
            margin-right: 5px;
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
}
.sect-2 {
  background-color: #f5f5f5;
  text-align: center;
  padding-bottom: 150px;
  .container {
    margin-top: 100px;

    .grid {
      display: grid;
      grid-template-columns: 27vw 27vw 27vw;
      grid-template-rows: 27vw 27vw 27vw;
      gap: 20px;
      .item-block {
        background: #ff5c36;
        border: none;
      }
    }
  }
}
.sect-3 {
  text-align: center;
  .container {
    .row {
      margin-top: 130px;
      margin-bottom: 170px;
      .column1 {
        .sect3-item {
          width: 100px;
          height: 100px;
          background: #fbfbfb;
          border: 1px solid #f4f4f4;
          margin-bottom: 5px;
          .sect3-icon {
            padding-top: 14px;
            padding-left: 10px;
            width: 70px;
            height: 70px;
          }
        }
      }
    }
    .column2 {
      text-align: left;
      .sect-3-text-main {
        font-size: 30px;
        font-weight: 400;
      }
      .line {
        height: 3px;
        width: 56px;
        background: $primary-color;
        margin-bottom: 15px;
      }
      .sect-3-text {
        font-size: 16px;
      }
      a.btn {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: -35px;
        background: white;
        color: black;
        border-radius: 20px;
        width: 50%;
        border: none;
        box-shadow: 5px 2px 7px #f2f2f2;

        img {
          margin-right: 15px;
          height: 15px;
          width: 15px;
        }
      }
    }
    .column3 {
      img {
        height: 300px;
        margin-left: -70px;
      }
    }
  }
}
.sect-4 {
  text-align: center;
  background-color: #f5f5f5;
  .container {
    padding-bottom: 180px;
    .blocks {
      margin-top: 120px;
      height: 35vw;

      .card {
        background: $primary-color;
        .card-body {
          margin: auto;
          a.btn {
            width: 100%;
            height: 20%;
            background: white;
            color: black;
            margin: auto;
            margin-bottom: -25%;
            box-shadow: 0px 2px 7px #f2f2f2;
            border: none;

            .card-text-main {
              font-size: 30px;
              color: black;
              margin-bottom: -5px;
              font-weight: 500;
            }
            .card-text {
              font-size: 15px;
              font-weight: 300;
              margin-bottom: 15px;
            }
          }
          nav.menu {
            width: 50%;
            margin: auto;

            ul {
              list-style: none;
              margin-left: -40%;
              li {
                padding: 0px 5px;
              }
            }
          }
        }
      }
    }
    .card:nth-child(2) {
      background-color: #fff3f0;
      .card-body {
        margin-top: 40%;
        .card-text {
          color: $primary-color;
          font-size: 15px;
          font-weight: 300;
          margin-bottom: 15px;
        }
        .card-text-main {
          font-size: 30px;
          color: black;
          margin-bottom: -5px;
          font-weight: 500;
          padding-top: 20%;
        }
        .card-progress-text {
          display: block;
          width: 170px;
          font-size: 11px;
          margin-bottom: 5px;
        }
        .progress {
          background: #707070;
          height: 5px;
          width: 170px;
          .progress-bar {
            background: #ff5c36;
          }
        }
      }
    }
  }
}
.sect-5 {
  .container {
    text-align: center;
    padding-bottom: 130px;
    .page {
      .comment-1 {
        width: 47%;
        text-align: center;
        border: 1px solid #d4d4d4;
        box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
        .comment {
          display: block;
          width: 70%;
          font-size: 15px;
          margin: auto;
        }
        .circle {
          width: 7vw;
          height: 7vw;
          border-radius: 50%;
          border: 1px solid #d4d4d4;
          margin: auto;
          margin-top: -4.5vw;
          background: white;
        }
        .stars {
          img {
            margin: 10px 2px;
          }
        }
        .user {
          font-style: italic;
          font-weight: 400;
          span {
            font-style: normal;
            color: black;
            font-weight: 500;
          }
        }
      }
    }
    #carouselExampleIndicators {
      .carousel-control-prev {
        background: $primary-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 24%;
        margin-left: 1%;
        box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
      }
      .carousel-control-next {
        background: $primary-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 24%;
        margin-right: 1%;
        box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
      }
      .carousel-indicators {
        margin-bottom: -3%;
        background-color: salmon;
        .button {
          .active {
            background: seagreen;
          }
        }
      }
      .carousel-inner {
        .carousel-item {
          margin-top: 130px;

          padding: 20px;
        }
      }
    }
  }
}
.sect-6 {
  background: #fbfbfb;
  .container {
    padding: 100px 0px;
    .nav {
      list-style: none;
      .nav-item {
        .nav-link {
          text-decoration: none;
          .sect-6-link {
            width: 8vw;
            margin: 5px 0px;
          }
        }
      }
    }
  }
}
footer {
  background: #f7f7f7;
  .container {
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 15px;
    p {
      display: block;
      margin: 0px 0px 0px 0px;
    }
    a.btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 40px;
      background: white;
      color: black;
      border-radius: 20px;
      width: 20%;
      border: 1px solid #ebebeb;
      box-shadow: 5px 2px 7px #f2f2f2;
    }
    .nav {
      list-style: none;
      .nav-item {
        .nav-link {
          text-decoration: none;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #d3d3d3;
          .sect-6-link {
            margin: auto;
          }
        }
      }
      .nav-link:active {
        background: $primary-color;
      }
    }
  }
}
