*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
$primary-color: #fc6744;
span {
  color: $primary-color;
}
@mixin chapter {
  font-size: 50px;
  font-weight: bold;
  padding-top: 130px;
  text-align: center;
}
p.section-chapter {
  @include chapter;
}

header {
  background-color: #f5f5f5;
  .container {
    nav {
      padding-top: 80px;
      a {
        text-decoration: none;
        font-size: 38px;
        color: black;
        border: 2px solid black;
        padding: 0px 15px;
      }
      a.burger {
        border: none;
      }
    }
    p.header-text {
      @include chapter;
    }
    p {
      text-align: center;
    }
    .form {
      text-align: center;
      box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
      padding: 20px 30px;
      background-color: white;
      margin-top: 80px;
      font-size: 20px;
      input,
      textarea {
        border: none;
        border-bottom: 1px solid grey;
        background-color: white;
        padding: 5px;
        margin-bottom: 15px;
      }
      button {
        margin: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fc6744;
        border: none;
        border-radius: 20px;
        width: 80%;
        text-align: center;
        font-size: 16px;
        color: white;
        img {
          margin-left: 5px;
        }
      }
    }
  }
}
.sect-1 {
  .container {
    margin-bottom: 150px;
    p {
      text-align: center;
    }
    p.section-chapter {
      @include chapter;
    }
    .blocks {
      margin-bottom: 170px;
      .card {
        width: 23%;

        .card-title {
          text-align: center;
        }
        .card-img-top {
          margin: auto;
          margin-top: 50px;
          height: 50px;
          width: 50px;
        }

        a.btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          margin-bottom: -35px;
          background: white;
          color: black;
          border-radius: 20px;
          width: 80%;
          border: none;
          box-shadow: 5px 2px 7px #e2dede;

          img {
            margin-right: 5px;
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .sect-1 {
    .container {
      .blocks {
        display: flex;
        flex-direction: column;
        .card {
          width: 70%;
          margin: auto;
          margin-bottom: 7%;
        }
      }
      .fl-jc-sb {
        justify-content: center;
      }
    }
  }
}
.sect-2 {
  background-color: #f5f5f5;
  text-align: center;
  padding-bottom: 150px;
  .container {
    margin-top: 100px;

    .grid {
      display: grid;
      grid-template-columns: 27vw 27vw 27vw;
      grid-template-rows: 27vw 27vw 27vw;
      gap: 20px;
      .item-block {
        background: #ff5c36;
        border: none;
      }
    }
  }
}

.sect-3 {
  text-align: center;
  .container {
    .sm-photo {
      display: none;
    }
    .row {
      margin-top: 130px;
      margin-bottom: 170px;
      .column1 {
        display: flex;
        flex-direction: column;
        .sect3-item {
          width: 100px;
          height: 100px;
          background: #fbfbfb;
          border: 1px solid #f4f4f4;
          margin-bottom: 5px;

          .sect3-icon {
            padding-top: 14px;
            padding-left: 10px;
            width: 70px;
            height: 70px;
          }
        }
      }

      .column2 {
        text-align: left;
        .sect-3-text-main {
          font-size: 30px;
          font-weight: 400;
        }
        .line {
          height: 3px;
          width: 56px;
          background: $primary-color;
          margin-bottom: 15px;
        }
        .sect-3-text {
          font-size: 16px;
        }
        a.btn {
          display: flex;
          align-items: center;
          justify-content: center;
          background: white;
          color: black;
          border-radius: 20px;
          width: 50%;
          border: none;
          box-shadow: 5px 2px 7px #f2f2f2;

          img {
            margin-right: 15px;
            height: 15px;
            width: 15px;
          }
        }
      }
      .column3 {
        img {
          height: 250px;
          margin-left: -70px;
          padding-top: 5%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .sect-3 {
    .container {
      .row {
        margin-top: 70px;
        margin-bottom: 70px;

        .column1 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .sect3-item {
            width: 15vw;
            height: 15vw;
            background: #fbfbfb;
            border: 1px solid #f4f4f4;
            margin-bottom: 5px;
          }
        }
        .column2 {
          .line {
            width: 100%;
          }

          a.btn {
            width: 70%;
            margin: auto;
          }
        }
        .column3 {
          img {
            height: 300px;
            margin: auto;
            margin-top: 0px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .sect-3 {
    .container {
      .row {
        margin: 70px 2vw;
        .column2 {
          .line {
            width: 100%;
          }

          a.btn {
            width: 70%;
            margin: auto;
          }
        }
      }
    }
  }
}
.sect-4 {
  text-align: center;
  background-color: #f5f5f5;
  .container {
    padding-bottom: 180px;
    .blocks {
      margin-top: 120px;
      height: 35vw;
      display: flex;
      justify-content: space-between;

      .card {
        background: $primary-color;
        width: 30%;
        .card-body {
          margin: auto;
          a.btn {
            width: 100%;
            background: white;
            color: black;
            margin: auto;
            margin-bottom: -25%;
            box-shadow: 0px 2px 7px #f2f2f2;
            border: none;

            .card-text-main {
              font-size: 30px;
              color: black;
              margin-bottom: -5px;
              font-weight: 500;
            }
            .card-text {
              font-size: 15px;
              font-weight: 300;
              margin-bottom: 15px;
            }
          }
          nav.menu {
            width: 50%;
            margin: auto;

            ul {
              list-style: none;
              margin-left: -40%;
              li {
                padding: 0px 5px;
              }
            }
          }
        }
      }
    }
    .card:nth-child(2) {
      background-color: #fff3f0;
      .card-body {
        margin-top: 40%;
        .card-text {
          color: $primary-color;
          font-size: 15px;
          font-weight: 300;
          margin-bottom: 15px;
        }
        .card-text-main {
          font-size: 30px;
          color: black;
          margin-bottom: -5px;
          font-weight: 500;
          padding-top: 20%;
        }
        .card-progress-text {
          display: block;
          width: 170px;
          font-size: 11px;
          margin-bottom: 5px;
        }
        .progress {
          background: #707070;
          height: 5px;
          width: 170px;
          .progress-bar {
            background: #ff5c36;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .sect-4 {
    .container {
      padding-bottom: 180px;
      .blocks {
        margin-top: 120px;
        height: 35vw;

        .card {
          background: $primary-color;
          width: 30%;
          .card-body {
            margin: auto;
            a.btn {
              width: 100%;

              background: white;
              color: black;
              margin: auto;
              margin-bottom: -25%;
              box-shadow: 0px 2px 7px #f2f2f2;
              border: none;
              padding-top: 5px;
              .card-text-main {
                font-size: 23px;
                color: black;
                margin-bottom: -5px;
                margin-top: 5px;
                font-weight: 500;
              }
              .card-text {
                font-size: 15px;
                font-weight: 300;
                margin-bottom: 15px;
              }
            }
            nav.menu {
              width: 50%;
              margin: auto;

              ul {
                list-style: none;
                margin-left: -50%;
                li {
                  padding: 0px 5px;
                }
              }
            }
          }
        }
      }
      .card:nth-child(2) {
        background-color: #fff3f0;
        .card-body {
          margin-top: 30%;
          .card-text {
            color: $primary-color;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 15px;
          }
          .card-text-main {
            font-size: 23px;
            color: black;
            margin-bottom: -5px;
            font-weight: 500;
            padding-top: 20%;
          }
          .card-progress-text {
            display: block;
            width: 100px;
            font-size: 11px;
            margin-bottom: 5px;
          }
          .progress {
            width: 100px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .sect-4 {
    .container {
      padding-bottom: 180px;
      .blocks {
        margin-top: 120px;
        height: 35vw;

        .card {
          background: $primary-color;
          width: 30%;
          .card-body {
            margin: auto;
            a.btn {
              width: 100%;

              background: white;
              color: black;
              margin: auto;
              margin-bottom: -25%;
              box-shadow: 0px 2px 7px #f2f2f2;
              border: none;

              .card-text-main {
                font-size: 18px;
                color: black;
                margin-bottom: -5px;
                font-weight: 500;
              }
              .card-text {
                font-size: 15px;
                font-weight: 300;
                margin-bottom: 15px;
              }
            }
            nav.menu {
              width: 50%;
              margin: auto;

              ul {
                list-style: none;
                margin-left: -50%;
                li {
                  padding: 0px 5px;
                }
              }
            }
          }
        }
      }
      .card:nth-child(2) {
        background-color: #fff3f0;
        .card {
          .card-body {
            margin-top: 30%;

            .card-text {
              color: $primary-color;
              font-size: 15px;
              font-weight: 300;
              margin-bottom: 5px;
            }
            .card-text-main {
              font-size: 18px;
              color: black;
              margin-bottom: -5px;
              font-weight: 500;
            }
            .card-progress-text {
              display: block;
              width: 100px;
              font-size: 11px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .sect-4 {
    .container {
      .blocks {
        margin-top: 40px;
        height: auto;
        flex-direction: column;
        align-items: center;
        .card {
          background: $primary-color;
          width: 70%;
          margin-bottom: 20px;
          .card-body {
            margin: auto;
            a.btn {
              width: 100%;
              background: white;
              color: black;
              margin: auto;
              margin-bottom: -25%;
              box-shadow: 0px 2px 7px #f2f2f2;
              border: none;

              .card-text-main {
                font-size: 18px;
                color: black;
                margin-bottom: -5px;
                font-weight: 500;
              }
              .card-text {
                font-size: 15px;
                font-weight: 300;
                margin-bottom: 15px;
              }
            }
            nav.menu {
              width: 50%;
              margin: auto;

              ul {
                list-style: none;
                margin-left: -40%;
                li {
                  padding: 0px 5px;
                }
              }
            }
          }
        }
      }
      .card:nth-child(2) {
        background-color: #fff3f0;
        .card-body {
          margin-top: 10%;
          .card-text {
            color: $primary-color;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 15px;
          }
          .card-text-main {
            font-size: 18px;
            color: black;
            margin-bottom: -5px;
            font-weight: 500;
            padding-top: 20%;
          }
          .card-progress-text {
            display: block;
            width: 170px;
            font-size: 11px;
            margin-bottom: 5px;
          }
          .progress {
            background: #707070;
            height: 5px;
            width: 170px;
            .progress-bar {
              background: #ff5c36;
            }
          }
        }
      }
    }
  }
}

.sect-5 {
  .container {
    text-align: center;
    padding-bottom: 130px;
    .page {
      .comment-1 {
        width: 47%;
        text-align: center;
        border: 1px solid #d4d4d4;
        box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
        .comment {
          display: block;
          width: 70%;
          font-size: 15px;
          margin: auto;
        }
        .circle {
          width: 7vw;
          height: 7vw;
          border-radius: 50%;
          border: 1px solid #d4d4d4;
          margin: auto;
          margin-top: -4.5vw;
          background: white;
        }
        .stars {
          img {
            margin: 10px 2px;
          }
        }
        .user {
          font-style: italic;
          font-weight: 400;
          span {
            font-style: normal;
            color: black;
            font-weight: 500;
          }
        }
      }
    }
    #carouselExampleIndicators {
      .carousel-control-prev {
        background: $primary-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 15%;
        margin-left: 0%;
        box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
      }
      .carousel-control-next {
        background: $primary-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 15%;
        margin-right: 0%;
        box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
      }
      .carousel-indicators {
        margin-bottom: -3%;
        button {
          background-color: #e0e0e0;
          width: 20px;
          height: 10px;
          border-radius: 45%;
        }
        .active {
          background-color: $primary-color;
        }
      }

      .carousel-inner {
        .carousel-item {
          padding: 20px;
          margin-top: 50px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .sect-5 {
    .container {
      text-align: center;
      padding-bottom: 130px;
      #carouselExampleIndicators {
        width: 90%;
        .carousel-control-prev {
          background: $primary-color;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-top: 150px;
          margin-left: 1%;
          box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
        }
        .carousel-control-next {
          background: $primary-color;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-top: 150px;
          margin-right: 1%;
          box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .sect-5 {
    .container {
      text-align: center;

      padding: 0px 20px;
      padding-bottom: 130px;
      .page {
        margin-top: 0px;
        .comment-1 {
          width: 90%;
          text-align: center;
          border: 1px solid #d4d4d4;
          box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
          .comment {
            display: block;
            width: 70%;
            font-size: 15px;
            margin: auto;
          }
          .circle {
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            border: 1px solid #d4d4d4;
            margin: auto;
            margin-top: -4.5vw;
            background: white;
          }
        }
        .second {
          display: none;
        }
      }
    }
  }
}

.sect-6 {
  background: #fbfbfb;
  .container {
    padding: 100px 0px;
    .logo-row {
      .nav-link {
        text-decoration: none;
        .sect-6-link {
          width: 12vw;
          margin: auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .sect-6-link {
    width: 12vw;
  }
}
@media screen and (max-width: 768px) {
  .sect-6-link {
    width: 12vw;
  }
}
@media screen and (max-width: 576px) {
  .sect-6-link {
    width: 12vw;
  }
}
footer {
  background: #f7f7f7;
  .container {
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 15px;
    p {
      display: block;
      margin: 0px 0px 0px 0px;
    }
    a.btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 40px;
      background: white;
      color: black;
      border-radius: 20px;
      width: 20%;
      border: 1px solid #ebebeb;
      box-shadow: 5px 2px 7px #f2f2f2;
    }
    .nav {
      list-style: none;
      .nav-item {
        .nav-link {
          text-decoration: none;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #d3d3d3;
          .sect-6-link {
            margin: auto;
          }
        }
      }
      .nav-link:active {
        background: $primary-color;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  footer {
    background: #f7f7f7;
    .container {
      .rights {
        margin-top: 20px;
        margin: auto;
      }
      a.btn {
        width: 60%;
      }
    }
  }
}
